html{  
}
h1 {
    text-align: center;
}
body{
  margin: 0;
  padding: 0;
}

.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.container {
	display: grid;
	grid-gap: 0px;
	grid-template-rows: [row1] 2fr [row2] 1fr [row3] 10fr [row4] 2fr;
    padding: 0px 0px 0px 0px;
}
.landing-header {
    height: 100px;
    background-color: #A4C046;
    overflow: hidden;
}
.header {
	background-color: #658db5;
	padding: 25px;
	border-radius: 6px;
    padding: 25px 0px 25px 0px;
    text-align: center;
}

.navbar {
	background-color: #b565b1;
	padding: 25px;
	border-radius: 6px;
    padding: 25px 0px 25px 0px;
    text-align: center;
}

#Contact {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    text-align: left;
    justify-content: center;
}
.league-spartan-main {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.search {
    display: flex;
    align-items: center;
    padding:3px;
    background-color:white;
    border: 2px solid black;
    border-radius:10px ;
    float: right; 
    margin-top: 20px;
}

.search-input {
    font-size: 16px;
    font-family: "League Spartan";
    outline: none;
    border: none;
    background: transparent;
    color: black;
    width: 250px;
}
.search-input::placeholder {
    color: black;
}

.heroimage {
    background-color:darkgray;
    height: 200px;
    display: flex;
}
.pagetitle {
    font-family: "League Spartan";
    color: #EB6B21;
    text-align: center;
    font-size: 40px;
}

.imagecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    overflow-wrap: break-word;

}

.imagecontainer img {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    justify-content: center;
    border-radius: 20px;
}

.landingpagetextbox p {
    height: 50px;
    width: 300px;
    background: transparent;
    overflow-wrap: break-word;
    text-align: left;
    font-family: "League Spartan";
}

.footer {
    background-color: #346FAD;
    color: white;
    font-family: "League Spartan";
    padding: 100px 15%;
    margin-top: 150px;
    display: flex;
}

.footer div{
  text-align: center;
}

.column1 {
    border-right: 1px solid white;
    padding-right: 40px;
    padding-top: 30px;
}

.column2 {
  flex-grow: 2;
  border-right: 1px solid white;
  position: relative;
}

.footer div h2{
  font-weight: 200;
  padding-right: 200px;
}

.footer div p{
  font-weight: 100;
}

.column3 {
    padding-right: 20px;
    padding-left: 20px;
}

.column3 a{
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  padding-bottom: 10px;
  color: white;
  font-weight: 200;
}
.footerform{
    width: 185px ;
    height: 40px;
    display: flex;
    align-items: center;
    background-color:#346FAD;
    border: 2px solid white;
    border-radius: 10px;
    float: right; 
    margin-right: 45%;
    position: absolute;
    padding: 5px;
    
  
}

.footer-input {
    font-size: 16px;
    font-family: "League Spartan";
    outline: none;
    border: none;
    background: transparent;
    color: white;
}

.submit-arrow {
    width: 40px;
    padding-left: 20px;
}

.footer-input::placeholder {
    color: white;
}
.column4 a {
    text-decoration: none;
    padding: 5px;
}
.column4 {
    padding-left: 60px;
    padding-top: 30px;
    border-collapse: separate;
    border-left: 1px solid white;

}
#button {
background-color: #a4c046;   
}
.socials {
    background-color: #29588A;
    border-radius: 20px;
    padding: 5px 0 5px 0;
    height: 85px;
    width: 260px;
    align-items: center;
}
@media screen and (max-device-width:DEVICEWIDTH{

}
