html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "League Spartan";
}

h1 {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}

.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.container {
  display: grid;
  grid-gap: 0px;
  grid-template-rows: [row1] 2fr [row2] 1fr [row3] 10fr [row4] 2fr;
  padding: 0px 0px 0px 0px;
}

#button {
  background-color: #a4c046;
  border: none; 
  border-radius: 5px;
  font-weight: bold;
  }

.landing-header {
  height: 100px;
  background-color: #a4c046;
  overflow: hidden;
}

.headerlogo img{
  width: 205px;
  height: 105px;
}
.header {
  background-color: #658db5;
  padding: 25px;
  border-radius: 6px;
  padding: 25px 0px 25px 0px;
  text-align: center;
}
#Contact {
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  text-align: left;
  justify-content: center;
}
.league-spartan-main {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.search {
  display: flex;
  align-items: center;
  padding: 3px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  float: right;
  margin-top: 30px;
}

.search-input {
  font-size: 16px;
  font-family: "League Spartan";
  outline: none;
  border: none;
  background: transparent;
  color: black;
  width: 250px;
}
.search-input::placeholder {
  color: black;
}

.heroimage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../Images/htown.jpg");
  height: 200px;
}
.pagetitle {
  font-family: "League Spartan";
  color: #eb6b21;
  text-align: center;
  font-size: 40px;
}

.imagecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  gap: 50px;
  overflow-wrap: break-word;
}

.imagecontainer img {
  width: 300px;
  height: 400px;
  border: 2px solid black;
  justify-content: center;
  border-radius: 20px;
}

.landingpagetextbox p {
  height: 50px;
  width: 300px;
  background: transparent;
  overflow-wrap: break-word;
  text-align: left;
  font-family: "League Spartan";
}

/* Footer CSS */

.footer {
  background-color: #346fad;
  color: white;
  font-family: League Spartan;
  padding: 100px 15%;
  margin-top: 150px;
  display: flex;
}

.footer div {
  text-align: center;
}

.column1 img{
  width: 320px;
  height: 130px;
  padding-right: 90px;
}

.column2 {
  flex-grow: 2;
}

.footer div h2 {
  font-weight: 200;
  padding-right: 200px;
}

.footer div p {
  font-weight: 100;
}

.column3 a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: white;
  font-weight: 100;
}

.column3 a:hover {
  color: #cf7ac3;
}
.footerform {
  width: 209px;;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #346fad;
  border: 2px solid white;
  border-radius: 10px;
  float: right;
  margin-right: 45%;
  position: relative;
}

.footer-input {
  font-size: 16px;
  font-family: "League Spartan";
  outline: none;
  border: none;
  background: transparent;
  color: white;
}

.submit-arrow {
  width: 30px;
  border: none;
}

.footer-input::placeholder {
  color: white;
}
.column4 a {
  text-decoration: none;
  padding: 5px;
}
.column4 {
  padding-left: 80px;
  padding-top: 30px;
  border-collapse: separate;
}

.column4 img{
  width: 40px;
  height: 50px;
}

.socials {
  background-color: #29588a;
  border-radius: 20px;
  padding: 10px 0 5px 0;
  height: 95px;
  width: 260px;
  align-items: center;
}

.copyright {
  width: 100%;
  color: white;
  line-height: 40px;
  font-size: 0.9em;
  text-align: center;
  bottom:0;
  background-color:#346fad;
}

/*--Navbar CSS--*/

.nav-container {
  background-color: #346fad;
  width: 100%;
}

.nav-list {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 16px;
  gap: 50px;
  margin: 0;
}

.nav-button a {
  text-align: center;
  padding-top: 10px;
  display: block;
  color: black;
  text-decoration: none;
  background-color: #a4c046;
  border-radius: 26px;
  width: 240px;
  height: 68px;
}

.nav-button a:hover {
  background-color: #cf7ac3;
}

/*--Attractions site--*/
.att-container {
  display: grid;
  grid-template-areas:
    "title-bar title-bar"
    "filters map"
    "tile map";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding: 1rem;
}

.title-bar {
  grid-area: title-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
}

#top-title {
  font-size: 18;
  font-style: bold;
  color: #eb6b21;
  margin: 0;
}
.att-search {
  display: flex;
  gap: 0.5rem;
}

.filters {
  grid-area: filters;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  border-style: dashed;
  border-radius: 5px;
  border-color: lightgray;
  border-width: 2px;
  height: 60px;
}

.filters h5 {
  font-size: 2vh;
}

.filters img {
  height: 50px;
  width: 50px;
}

.tiles {
  grid-area: tile;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.tile-container {
  display: flex;
  flex-flow: column;
  align-items:center;
  justify-content:left;
  flex: 0 0 40%;
  margin: 5px;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 200px;
  height: 200px;
  background-color: whitesmoke;
}

.tile-description {
  padding: 2px 16px;
}

.tile-description h6,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}
.tiles img {
  object-fit:cover;
  border-radius: 5px 5px 0 0;
  height: 90%;
  width: 90%;
}
.att-map {
  display: flex;
  flex-wrap: column;
}
.map {
  display: flex;
  grid-area: map;
}

/*--About Us Page*/
.about-container {
  display: grid;
  margin: 10%;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow:0 4px 10px whitesmoke;
}
.about-container h1 {
  color: #eb6b21;
}

.about-container p {
  line-height: 2;
}
.about-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.about-right img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow:0 4px 10px whitesmoke;
}
/*--Small screen compatibility--*/
@media all and (max-width: 600px) {
  .nav-list {
    flex-flow: column wrap;
    padding: 0;
  }
  .nav-button a {
    text-align: center;
    padding: 10px;
  }
}
