html{  
}
h1 {
    text-align: center;
}
.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style:normal;
}

.container {
	display: grid;
	grid-gap: 0px;
	grid-template-rows: [row1] 2fr [row2] 1fr [row3] 10fr [row4] 2fr;
    padding: 0px 0px 0px 0px;
}

.header {
	background-color: #658db5;
	padding: 25px;
	border-radius: 6px;
    padding: 25px 0px 25px 0px;
    text-align: center;
}

.navbar {
	background-color: #b565b1;
	padding: 25px;
	border-radius: 6px;
    padding: 25px 0px 25px 0px;
    text-align: center;
}

#Contact {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    text-align: left;
    justify-content: center;
}
.footer {
	background-color: #658db5;
	padding: 25px;
	border-radius: 6px;
    padding: 25px 0px 25px 0px;
    text-align: center;
}
