html{  
}
h1 {
    text-align: center;
}
body{
  margin: 0;
  padding: 0;
}

.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style:normal;
}

.container {
	display: grid;
	grid-gap: 0px;
	grid-template-rows: [row1] 2fr [row2] 1fr [row3] 10fr [row4] 2fr;
    padding: 0px 0px 0px 0px;
}
.landing-header{
    height: 100px;
    background-color: #A4C046;
}
.header {
	background-color: #658db5;
	padding: 25px;
	border-radius: 6px;
    padding: 25px 0px 25px 0px;
    text-align: center;
}

.navbar {
	background-color: #b565b1;
	padding: 25px;
	border-radius: 6px;
    padding: 25px 0px 25px 0px;
    text-align: center;
}

#Contact {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    text-align: left;
    justify-content: center;
}
.search {
    width: ;
    display: flex;
    align-items: center;
    padding:3px;
    background-color:white;
    border: 2px solid black;
    border-radius: 15px;
    float: right; 
    margin-top: 20px;
}

.search-input {
    font-size: 16px;
    font-family: "League Spartan";
    outline: none;
    border: none;
    background: transparent;
    color: black;
}
.search-input::placeholder {
    color: black;
}


.footer {
    background-color: #346FAD;
    color: white;
    font-family: League Spartan;
    padding: 100px 15%;
    margin-top: 150px;
    display: flex;
}

.league-spartan-main {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.footer div{
  text-align: center;
}

.column2 {
  flex-grow: 2;
}

.footer div h2{
  font-weight: 200;
  padding-right: 200px;
}

.footer div p{
  font-weight: 100;
}

.column3 a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: white;
  font-weight: 100;
}

.footerform{
  /* width: 320px;
  height: 40px;
  border-radius: 4px;
  background-color: #346FAD;
  border: 2px solid white; */
    width: 200px ;
    height: 40px;
    display: flex;
    align-items: center;
    padding:5px;
    background-color:#346FAD;
    border: 2px solid white;
    border-radius: 10px;
    float: right; 
    margin-right: 45%;
    position: relative;
  
}

.footer-input {
    font-size: 16px;
    font-family: "League Spartan";
    outline: none;
    border: none;
    background: transparent;
    color: white;
}

.submit-arrow {
    width: 30px;
    border: none;
}

.footer-input::placeholder {
    color: white;
}
