html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "League Spartan";
}

.nav-container {
  background-color: #346fad;
  width: 100%;
}

.nav-list {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 16px;
  gap: 50px;
  margin: 0;
}

.nav-button a {
  text-align: center;
  padding-top: 10px;
  display: block;
  color: black;
  text-decoration: none;
  background-color: #a4c046;
  border-radius: 26px;
  width: 240px;
  height: 68px;
}

.nav-button a:hover {
  background-color: #cf7ac3;
}

@media all and (max-width: 600px) {
  .nav-list {
    flex-flow: column wrap;
    padding: 0;
  }
  .nav-button a {
    text-align: center;
    padding: 10px;
  }
}
